@import "../../../css/variable-overrides";

.escrow {
  position: relative;
  background: url(../../../images/dotted-line.svg) no-repeat 8px 30px;

  &.escrow-disabled {
    opacity: 0.4;
  }

  .arrow {
    position: absolute;
    left: 12px;
    margin-top: 18px;
  }

  .mt-4 .rounded-icon {
    outline: 6px solid #fff;
  }

  p.balanceAlert {
    color: $red;
  }

  .disabled {
    opacity: .4;
  }
}

.see-all-options {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $light-blue;
  color: $primary;
  padding: 7px 10px;
  border-radius: 25px;
}
