@import "../../../css/variable-overrides";

.escrow {
  position: relative;
  background-image: url(../../../images/dotted-line.svg);
  background-repeat: no-repeat;
  background-position-y: 30px;

  &.escrow-disabled {
    opacity: 0.4;
  }

  .arrow {
    position: absolute;
    margin-top: 18px;
  }

  .mt-4 .rounded-icon {
    outline: 6px solid #fff;
  }

  p.balanceAlert {
    color: $red;
  }

  .mt-4:nth-child(4) {
    background: #fff;
  }
}

.see-all-options {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $light-blue;
  color: $primary;
  padding: 7px 10px;
  border-radius: 25px;
}

@media (min-width: 0px) { 
  .escrow {
    background-position-x: 6px;
  }

  .arrow {
    left: 10px;
  }
 }


@media (min-width: 576px) { 
  .escrow {
    background-position-x: 11px;
  }

  .arrow {
    left: 15px;
  }
 } 

@media (min-width: 730px) {
  .escrow {
    background-position-x: 14px;
  }

  .arrow {
    left: 18px;
  }
 }

