.offerTrade {
    h3 {
        font-size: 15px;
        font-weight: normal;
    }

    .name {
        font-size: 17px;
        font-weight: 500;
    }

    .limits {
        font-size: 12px;
    }

    .addr {
        font-size: 15px;
    }

    .reputation {
        font-weight: 500;
        font-size: 14px;
    }

    .info-btn {
        padding: 0px 3px 2px 3px;
    }
}
