$search-field-height: 38px;
$autocomplete-height: 157px;

.map-container {
  height: 88%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .map-search-form {
    position: absolute;
    bottom: 7px !important;
    left: 10px !important;
    right: 60px !important;
    top: auto !important;

    input {
      height: $search-field-height;
    }

    .search-icon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .gm-style-iw {
    text-align: center;

    .btn {
      width: 100%;
    }
  }
}

.pac-container {
  height: $autocomplete-height;
  margin-top: - ($autocomplete-height + $search-field-height);
}
