@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

.is-invalid-input {
  border-color: $danger;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.loading{
  animation: spinner 1s linear infinite;
  margin-right: 8px;
}

.input-group-append {
  height: calc(2.25rem + 2px);
}

.prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.full-width-input.input-group > div:first-child {
  flex: 1 1 auto;
  width: 1%;
}

.search-bar {
  position: relative;
}
