@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

.is-invalid-input {
  border-color: $danger;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.loading{
  animation: spinner 1s linear infinite;
  margin-right: 8px;
}
