@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

.asset-btns {
  width: 100%;


  .btn {
    text-align: left;
    box-shadow: none !important;
    text-decoration: none !important;
    color: $yiq-text-dark;
    font-size: 1.2em;

    &.active {
      .fa-check {
        float: right;
        margin-top: 5px;
      }
    }
  }
}
