@import "../../../../../css/variable-overrides";
$slider-height: 10px;

.rc-slider {
  .rc-slider-rail {
    width: 95%;
    height: $slider-height;
    background-color: $secondary;
  }

  .rc-slider-track {
    height: $slider-height;
    background-color: $primary;
  }

  .rc-slider-handle{
    height: 30px;
    width: 30px;
    margin-top: -11px;
    border-color: $primary;
  }
}

.margin-input {
  .input-group-append {
    width: 52px;
  }
}
@media screen and (max-width: 450px) {
  .margin-input {
    .form-control {
      padding: 0.375rem 0.75rem;
    }
  }
}
