.topCircle {
  z-index: 90;
  position: relative;
}

.bottomCircle {
  z-index: 80;
  position: relative;
  left: -10px;
}

.profile-button span, 
.profile-button h6 {
  font-size: 15px;
}

.separator {
  width: 300px;
  border: 1px solid #EEF2F5;
  float: right;
}

.no-border {
  border: 0;
}