.reputation-container {
  .left-rating, .right-rating {
    font-size: 15px;
    margin: 0 1px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
  }

  .left-rating {
    margin-right: 20px;
  }

  &.small {
    .left-rating, .right-rating {
      font-size: 13px;
      width: 55px;
      height: 24px;
      line-height: 22px;
    }
  }

}
