.offer-reputation {
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 14px;
}

.offer-card {
  border-radius: 8px;
  padding: 16px;

  .card-body {
    padding: 0;
  }

  .seller-name {
    font-weight: 500;
    font-size: 15px;
  }

  .data-item {
    font-size: 14px;
    font-weight: normal;
  }

  .card-footer {
    padding: 0;

    p {
      font-size: 13px;
      font-weight: normal;

      span {
        font-size: 16px;
        margin: 0 3px;
      }
    }
  }
}

.flag-icon {
  border-radius: 2px;
  background-repeat: initial;
  height: 15px;
  width: 20px;
}
