@import "../../../css/variable-overrides";

$footer-height: 58px;

.container {
  position: relative;
  padding-bottom: $footer-height + 10px !important;
  min-height: 100%;

  .wizard-container {
    .footer {
      right: 0;
      bottom: 0;
      left: 0;
      height: $footer-height;
      max-width: $content-width;
      margin: 0 auto;
      position: fixed;
      background: #fff;
      z-index: 1000;
      padding-top: 10px;
      padding-bottom: 10px;

      .footer-arrow {
        position: relative;
        bottom: 1px;
      }
    }
  }
}
