@import "../../../css/variable-overrides";

$footer-btn-height: 44px;
$footer-padding: 16px;
$footer-height: $footer-btn-height + $footer-padding * 2;

.container {
  position: relative;
  padding-bottom: $footer-height + 10px !important;
  min-height: 100%;

  .wizard-container {
    align-items: flex-start;

    .footer {
      right: 0;
      bottom: 0;
      left: 0;
      height: $footer-height;
      max-width: $content-width;
      margin: 0 auto;
      position: fixed;
      background: #fff;
      z-index: 1000;
      padding: $footer-padding;

      @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        position: sticky;
        width: 100%;
        padding: $footer-padding 0;
        z-index: auto;
      }

      .btn {
        width: 100%;
        height: $footer-btn-height;
      }

      .footer-arrow {
        position: relative;
        bottom: 1px;
      }
    }
  }
}
