@import "../../../css/variable-overrides";

$footer-height: 58px;

.container {
  position: relative;
  padding-bottom: $footer-height + 10px !important;
  min-height: 100%;

  .wizard-container {
    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: $footer-height;
      max-width: $content-width;
      margin: 0 auto;

      .footer-arrow {
        position: relative;
        bottom: 1px;
      }
    }

    @media screen and (min-width: 640px) {
      .footer {
        position: relative;
      }
    }
  }
}
