$footer-height: 58px;

.container {
  position: relative;
  padding-bottom: $footer-height;
  min-height: 100%;

  .wizard-container {
    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: $footer-height;

      .footer-arrow {
        position: relative;
        bottom: 1px;
      }
    }
  }
}
