@import "../../../css/variable-overrides";

.topCircle {
  z-index: 90;
  position: relative;
}

.bottomCircle {
  z-index: 80;
  position: relative;
  left: -10px;
}

.profile-button {
  &:hover {
    text-decoration: none;
  }

  .profile-button-icon,
  .profile-button-title {
    font-size: 15px;

    &.line-height-40 {
      line-height: 40px;
    }
  }
}

.separator {
  display: block;
  width: 300px;
  border: 1px solid $secondary;
  margin: 0 auto;
}
