@import "../../../css/variable-overrides.scss";

.rounded-icon {
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto;
  line-height: 40px;
  text-align: center;

  &.md {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  &.sm {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
  &.xs {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .text-icon {
    color: $blue;
    font-size: 18px;
    font-weight: 500;
  }
}

.rounded-icon--icon {
  margin: auto;
}

.rounded-icon__grey {
  background-color: $dark;
  .rounded-icon--icon {
    color: $white;
  }
}

.rounded-icon__secondary {
  background-color: $secondary;
  .rounded-icon--icon {
    color: $dark;
  }
}

.rounded-icon__blue {
  background-color: $light-blue;
  .rounded-icon--icon {
    color: $blue;
  }
}

.rounded-icon__primary {
  background-color: $primary;
  .rounded-icon--icon {
    color: $white;
  }
}

.rounded-icon__red {
  background-color: rgba(255,45,85, 0.1);
  .rounded-icon--icon {
    color: $red;
  }
}

.rounded-icon__green {
  background-color: $success;
  .rounded-icon--icon {
    color: $white;
  }
}
