@import "../../../css/variable-overrides.scss";

.rounded-icon {
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto;
}

.rounded-icon--icon {
  margin: auto;
}

.rounded-icon__grey {
  background-color: $dark;
  .rounded-icon--icon {
    color: $white;
  }
}

.rounded-icon__blue {
  background-color: $light-blue;
  .rounded-icon--icon {
    color: $blue;
  }
}

.rounded-icon__red {
  background-color: rgba(255,45,85, 0.1);
  .rounded-icon--icon {
    color: $red;
  }
}

.rounded-icon__green {
  background-color: $success;
  .rounded-icon--icon {
    color: $white;
  }
}