@import "../../../../css/variable-overrides";

$filter-modal-padding: 16px;

.filter-icon {
  width: 54px;
  font-size: 15px;
}

.tokenFilter-container {
  .crypto-icons {
    position: absolute;
    z-index: 900;
    top: 10px;
    left: 10px;
  }

  .rbt-input-main {
    padding-left: 55px;
  }

  #tokenFilter {
    .asset-image {
      margin-bottom: 5px;
      margin-top: -5px;
    }

    .dropdown-item {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}

.filter-menu-slider-container {
  width: 100%;
  overflow: hidden;
  padding: 3px;
  margin-left: -3px;

  .filter-menu-slider {
    width: 970px;

    svg {
      fill: $blue;
    }

    .btn.inactive {
      background-color: $secondary;
      color: $dark;

      svg {
        fill: $dark;
      }
    }
  }
}

.filter-modal {
  .separator-container {
    position: relative;
    width: 100%;

    .separator {
      width: 90%;
      position: absolute;
      right: -$filter-modal-padding;
    }
  }
}

.modal .modal-dialog.filter-modal {
  position: relative;

  .clear-button {
    position: absolute;
    top: $filter-modal-padding;
    right: $filter-modal-padding;
    border-radius: 40px;
    z-index: 1000;
  }

  .modal-content .modal-body {
    padding: $filter-modal-padding;
  }
}

.filter-menu-backdrop {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 980;

  &.open {
    display: block;
  }
}

$filter-menu-padding-x: 3%;
$menu-width: 85%;
.filter-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  max-width: 400px;
  background-color: white;
  z-index: 990;
  padding: 24px 0;
  overflow: hidden;
  transition: width 0.5s, padding 0.5s;

  &.open {
    width: $menu-width;
    padding: 24px;

    .check-button {
      .fa-check {
        display: inline-block;
      }
    }
  }

  .filter-menu-content {
    width: $menu-width - ($filter-menu-padding-x * 4);
    overflow: hidden;
    position: fixed;
    max-width: 350px;
    height: 100%;
    padding-bottom: 100px;
    overflow-y: auto;
  }

  .check-button {
    font-size: 15px;
    padding-left: 0;

    .fa-check {
      display: none;
    }
  }

  .clear-all-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .filter-button {
    position: fixed;
    bottom: 0;
    max-width: 350px;
    width: $menu-width - ($filter-menu-padding-x * 4);
    background: #fff;
    padding-bottom: 20px;
  }
}
