.sorter-select {
  font-size: 17px;

  .sort-icon {
    width: 40px;
    height: 40px;
    background-color: black;
  }
}

.filter-menu-backdrop {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 8999;

  &.open {
    display: block;
  }
}

$filter-menu-padding-x: 3%;
$menu-width: 85%;
.filter-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  max-width: 400px;
  background-color: white;
  z-index: 9000;
  padding: 24px 0;
  overflow: hidden;
  transition: width 0.5s, padding 0.5s;

  &.open {
    width: $menu-width;
    padding: 24px;

    .btn {
      .fa-check {
        display: inline-block;
      }
    }
  }

  .filter-menu-content {
    width: $menu-width - ($filter-menu-padding-x * 4);
    overflow: hidden;
    position: fixed;
    max-width: 350px;
    height: 100%;
    padding-bottom: 50px;
    overflow-y: auto;
  }

  .btn {
    font-size: 15px;
    padding-left: 0;

    .fa-check {
      display: none;
    }
  }
}
