@import "../../../css/bootstrap-overrides";

.market-button {
  background-color: transparent !important;
  font-size: 15px;
  height: $input-height;
  font-weight: 500;

  &.active {
    border-color: $secondary !important;
    color: $primary !important;
  }
}
