$search-field-height: 52px;
$autocomplete-height: 157px;

.map-error {
  position: absolute;
  z-index: 9000;
  left: 0;
  right: 0;
}

.map-component {
  height: 88%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .map-search-form {
    position: absolute;
    bottom: 7px !important;
    left: 10px !important;
    right: 60px !important;
    top: auto !important;

    .form-control {
      height: $search-field-height;
      background: white;
    }
  }

  .gm-style-iw {
    text-align: center;

    .btn {
      width: 100%;
    }
  }
}

.pac-container {
  height: $autocomplete-height;
  margin-top: - ($autocomplete-height + $search-field-height);
}
