@import "../../../css/variable-overrides";

.home {
  .home-logo {
    text-align: center;
    padding-top: 40px;
  }

  .home-logo img {
    width: 200px;
    height: 200px;
  }

  .home-headline {
    margin-top: 2.5rem;
  }

  .home--footer {
    margin-top: 2.5rem;
  }
}
