@import "../../../css/variable-overrides";

$landing-text: #5C667D;
$max-width: 750px;

.home-body-content {
  overflow: hidden;
  max-width: none !important;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.home {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  .home-logo {
    text-align: center;
    padding-top: 20px;
  }

  .home-headline-container {
    width: 1146px;
    text-align: center;
    position: relative;
    left: -231px;
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      width: auto;
      left: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../images/landing/logoGroupLeft.png");
      background-repeat: no-repeat;
      background-position: top 1px left 100px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../images/landing/logoGroupRight.png");
      background-repeat: no-repeat;
      background-position: top 1px right 96px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .home-headline {
      max-width: $max-width;
      margin: 0 auto;
      padding: 0 84px;

      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
  }

  .home-details {
    color: $landing-text;
  }

  .btn {
    min-width: 124px;
    height: 44px;
    padding: 11px 17px;
  }

  .teller-version {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
  }

  .icon-group {
    .icon-group-title {
      font-size: 29px;
      font-weight: bold;
    }

    .home-details, .home-details p {
      font-size: 18px;
    }
  }

  .popular-offers {
    width: 1600px;
    margin: 0;
    text-align: left;


    @media screen and (min-width: 768px) {
      position: relative;
      left: -382px;
    }

    .offer-card {
      display: inline-block;
      text-align: left;
      margin-right: 25px;
    }
  }

  .landing-footer {
    h5 {
      font-size: 17px;
      font-weight: bold;
      color: #172348;
    }

    ul {
      padding-left: 0;

      li {
        list-style-type: none;

        a {
          color: $landing-text;
          font-size: 17px;
        }
      }
    }
  }
}
