@import "../../../css/variable-overrides";

.home {
  .home-logo {
    text-align: center;
    padding-top: 40px;
  }

  .home-headline {
    margin-top: 2.5rem;
  }

  .home--footer {
    margin-top: 2.5rem;
  }

  .teller-version {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
  }
}
