@import "./_variables.scss";

html {
  height: 100%; 
}

body { 
  height: 100%;
  display: flex; 
}

body > div { 
  flex: 1; 
}

.container {
  padding-bottom: $footer-height;
  overflow: auto;
}

header {
  nav.navbar {
    padding-right: 0;
    padding-left: 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;

  .btn {
    margin: 10px;

    &.next-btn {
      position: absolute;
      right: 0;
    }

    &.previous-btn {
      position: absolute;
      left: 0;
    }
  }
}
