html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  p {
    font-size: 15px;
  }

  .v-align-center {
    margin: auto;
    vertical-align: middle;

    >* {
      margin: auto;
      vertical-align: middle;
    }
  }
}

body > div {
  flex: 1;
}
