@import "css/variable-overrides";

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000000;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .container {
    max-width: none;

    .body-content {
      max-width: $content-width;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .v-align-center {
    margin: auto;
    vertical-align: middle;

    >* {
      margin: auto;
      vertical-align: middle;
    }
  }

  .clickable {
    cursor: pointer;

    .disabled {
      opacity: .4;
    }
  }


  .not-clickable {
    cursor: default;
  }

  .icon-badge {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 140px;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    display: block;
    max-width: 100px;
    background: #fff;
    padding: 3px 5px;
    text-align: center;
    top: -14px;
    margin: 0 auto;
  }

  .dropdown-menu {
    z-index: 1001;
  }
}

body > div {
  flex: 1;
}

.card-transparent {
  opacity: .5;
}

.rbt-input-main.form-control.rbt-input {
  background: $secondary url(images/arrow-down.svg) no-repeat;
  background-position: right 15px center;
}
