.offer-summary {
  .line-title {
    font-size: 15px;
  }

  .line-text {
    font-weight: 500;
  }

  .token-img {
    width: 24px;
    height: 24px;
  }

  .line-text-asset {
    position: relative;
    top: 2px;
  }
}
